<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{url_for('static', filename = 'styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/ico" href="/static/logo.ico"/>
    <title>EduFormer</title>
</head>
<body style = "background: #EBEAEF;">
  <div id="container" class="row">
    <img src="/static/logo.png" style = "flex: none; order: 0; flex-grow: 0;">

            <h1 style="flex: none; order: 1; flex-grow: 0;">
                EduFormer
            </h1>           
            <h2 style = "width: 570px;
            height: 92px;
            
            font-family: 'Indie Flower';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 58px;
            text-align: center;
            
            color: #000000;">
                Text summaries and beyond
            </h2>
            <form action="/index">
              <button style="background: linear-gradient(180deg, #4963BE 0%, rgba(11, 67, 99, 0.57) 100%);
              border-radius: 10px;">
                  <text style = "width: 200px;
                  height: 58px;
                  
                  font-family: 'Indie Flower';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 40px;
                  line-height: 58px;
                  text-align: center;
                  
                  color: #FFFFFF;
                  
                  border: 3px solid #000000;">
                    Get Started
                  </text>
              </button>
          </form>
  </div>
</body>

