<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{url_for('static', filename = 'styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/ico" href="/static/logo.ico"/>
    <title>EduFormer</title>
</head>
<body style = "background-color: #EBEAEF;">
    <div id="container" class="row" style = "background-color: #EBEAEF;">
        <div class="col-lg-3 leftpanel">
            <form method="POST" action="/record" style="margin-bottom:50px">
               
                    <button id="liveBtn" type="submit" style="background: linear-gradient(180deg, #3D60A5 0%, #A695E7 100%);
                        border-radius: 20px;" class="fa fa-play">
                         Live Translate
                    </button>
                
            </form>
            
            <div style="border-top: solid whitesmoke; font-size: 10px; color: grey; margin-bottom: 30px;">
                Or work with a local file
            </div>
            
                <form action="/record" style="margin-bottom: 150px;">
                    <input type="file" accept="audio/*" style="font-size: 15px; margin-bottom: 20px; ">
                    <input type="submit" style="font-size: 15px;">
                </form>
            
            <form action="/analysis">
                <button style="background: linear-gradient(180deg, #3D60A5 0%, #A695E7 100%);
                border-radius: 20px;">
                    Source & Frequency Analysis
                </button>
            </form>
        </div>
       
        

        <div class="col-lg-6 midpanel" style="border-left: solid whitesmoke; border-right: solid whitesmoke">
            <form action="/translate" style="margin-bottom: 50px;">
                <button style="background: linear-gradient(180deg, #3D60A5 0%, #A695E7 100%); border-radius: 20px;">
                    Convert to Text
                </button>
            </form>
            <div style="width: 100%; height: 100%; display: flex;">
                <textarea style="width: 100%; background: linear-gradient(180deg, rgba(175, 189, 224, 0) 0%, #AFBDE0 50.83%);" readonly>
                    
                </textarea>
            </div>
        </div>

        <div class="col-lg-3 rightpanel">
            <div style="margin-bottom: 50px">
                <form action="/summarize" style="margin-bottom: 10px; ">
                    <button style="background: linear-gradient(180deg, #3D60A5 0%, #A695E7 100%); border-radius: 20px;">
                        Generate Summary
                    </button>
                </form>
                <textarea style="width: 100%; height:200px;background: linear-gradient(180deg, rgba(175, 189, 224, 0) 0%, #AFBDE0 100%);" readonly>
                    
                </textarea>
            </div>

            <div>
                <form action="/generateQuestions" style="margin-bottom: 10px;">
                    <button style="background: linear-gradient(180deg, #3D60A5 0%, #A695E7 100%); border-radius: 20px;">
                        Generate Questions
                    </button>
                </form>

                <textarea style="width: 100%; height:200px; background: linear-gradient(180deg, rgba(175, 189, 224, 0) 0%, #AFBDE0 100%);" readonly>
                    
                </textarea>
            </div>
        </div>
    </div>
</body>

<script>
    var playPause = document.getElementById('liveBtn');
    playPause.onclick= function(){
        playPause.classList.toggle('fa-play');
        playPause.classList.toggle('fa-pause');
        return false;
    } 


</script>

</html>